#cloud-config
runcmd:
  - |
      set -eux

      echo "Waiting for apt locks..."
      while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1 || \
            fuser /var/lib/apt/lists/lock >/dev/null 2>&1 || \
            fuser /var/cache/apt/archives/lock >/dev/null 2>&1; do
        sleep 5
      done

      apt-get update -y
      apt-get install -y docker.io
      systemctl enable docker
      systemctl start docker
      docker run -d -p 80:80 -p 443:443 \
        -e ORIGIN_HOST=${origin_ip} \
        -e EDGE_REGION={edge_region} \
        aydinschwa/toy-cdn-edge:latest